services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - .:/auth
    env_file:
      - .env
    depends_on:
      - db
    networks:
      - autenticador_network
    entrypoint: ["app/scripts/wait-for-it.sh", "db:3306", "--", "uvicorn", "app.main:app", "--host", "0.0.0.0", "--port", "8000", "--reload"]

  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 123
      MYSQL_DATABASE: tinder_mascotas
    ports:
      - "3309:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - autenticador_network

  test:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/auth
    command: ["pytest","-v"]


  db-tests:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: "123"
    volumes:
      - ./app/dbtest:/tests
    entrypoint: ["bash", "/tests/run_tests.sh"]
    depends_on:
      - db
    networks:
      - autenticador_network

volumes:
  db_data:

networks:
  autenticador_network:
    external: true
